@model Plato


<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-6 col-lg-5 col-xxl-4">
                    <div class="card border-0 shadow-lg" style="border-radius: 20px; background: linear-gradient(to right, #f8f9fa, #ffffff);">
                        <div class="card-body p-5">
                            <div class="text-center mb-4">
                                <h2 class="mb-3 text-dark fw-bold">Registrar Nuevo Platillo</h2>
                                <p class="text-muted">Ingrese el nuevo platillo</p>
                            </div>
                            <form asp-action="CrearPlato" asp-controller="Menu" enctype="multipart/form-data">
                                <div class="form-group mb-4">
                                    <label for="Nombre" class="form-label text-dark fw-bold">Nombre</label>
                                    <input type="text" asp-for="Nombre" class="form-control shadow-sm p-3" id="Nombre" placeholder="Nombre del Plato" style="border-radius: 15px; font-size: 16px;">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="Precio" class="form-label text-dark fw-bold">Precio</label>
                                    <input type="number" asp-for="Precio" class="form-control shadow-sm p-3" id="Precio" placeholder="Precio del Plato" style="border-radius: 15px; font-size: 16px;">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="Descripcion" class="form-label text-dark fw-bold">Descripcion</label>
                                    <input type="text" asp-for="Descripcion" class="form-control shadow-sm p-3" id="Descripcion" placeholder="Descripcion del Plato" style="border-radius: 15px; font-size: 16px;">
                                </div>
                                <div class="form-group mb-4">
                                    <label class="form-label">Imagen</label>
                                    <input type="file" accept="image/png" class="form-control" id="Imagen" name="Imagen">
                                </div>

                                <button type="submit" class="btn btn-primary w-100 py-2 fs-5 fw-bold" style="border-radius: 10px; background: #1976d2; border: none; font-family: 'Poppins', sans-serif;">Procesar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>