@model Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-6 col-lg-5 col-xxl-4">
                    <div class="card border-0 shadow-lg" style="border-radius: 20px; background: linear-gradient(to right, #f8f9fa, #ffffff);">
                        <div class="card-body p-5">
                            <div class="text-center mb-4">
                                <h2 class="mb-3 text-dark fw-bold">Iniciar Sesión</h2>
                                <p class="text-muted">Accede a tu cuenta para continuar</p>
                            </div>
                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
                            }
                            <form asp-action="IniciarSesion" asp-controller="Login">
                                <div class="form-group mb-4">
                                    <label for="Correo" class="form-label text-dark fw-bold">Correo Electrónico</label>
                                    <input type="email" asp-for="Correo" class="form-control shadow-sm p-3" id="inputEmail" placeholder="Ingresar su correo" style="border-radius: 15px; font-size: 16px;">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="Password" class="form-label text-dark fw-bold">Contraseña</label>
                                    <input type="password" asp-for="Contrasenna" class="form-control shadow-sm p-3" id="password" placeholder="Ingrese su contraseña" style="border-radius: 15px; font-size: 16px;">
                                </div>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <a href="@Url.Action("RecuperarAcceso","Login")" class="text-primary fw-bold" style="text-decoration: none;">¿Olvidaste tu contraseña?</a>
                                </div>

                                <button type="submit" class="btn btn-primary w-100 py-2 fs-5 fw-bold" style="border-radius: 10px; background: #1976d2; border: none; font-family: 'Poppins', sans-serif;">Procesar</button>

                                <p class="text-center mt-4 mb-3 text-muted fw-bold">¿No tienes una cuenta?</p>
                                <div class="d-flex justify-content-center">
                                    <a href="@Url.Action("RegistroUsuarios","Login")" class="btn btn-outline-primary btn-lg shadow-sm mx-2 fw-bold" style="border-radius: 15px; font-size: 16px; font-family: 'Poppins', sans-serif;">Crear una cuenta</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>